<div class="float-md-right">
  <a class="btn btn-sm btn-outline-primary" href="/app/private-key"><i class="fas fa-download"></i> Private key</a>
  <a class="btn btn-sm btn-outline-primary" href="/app/public-key"><i class="fas fa-download"></i> Public key</a>
  <a class="btn btn-sm btn-outline-primary" href="/app/edit"><i class="fas fa-pencil-alt"></i> Update NCCO</a>
</div>

<h1 class="mb-5">{{application.name}}</h1>

<table class="table">
<tr>
  <th>App id</th>
  <td>{{application.app_id}}</td>
</tr>
<tr>
  <th>App name</th>
  <td>{{application.name}}</td>
</tr>
<tr>
  <th>Answer URL</th>
  <td>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text input-group-text-{{lowercase application.voice_answer_method}}">{{application.voice_answer_method}}</div>
      </div>
      <a class="form-control form-control-url" target="_blank" href="{{application.voice_answer_url}}">{{application.voice_answer_url}}</a>
    </div>
  </td>
</tr>
<tr>
  <th>Voice Event URL</th>
  <td>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text input-group-text-{{lowercase application.voice_event_method}}">{{application.voice_event_method}}</div>
      </div>
      <a class="form-control form-control-url" target="_blank" href="{{application.voice_event_url}}">{{application.voice_event_url}}</a>
    </div>
  </td>
</tr>
<tr>
  <th>Phone number</th>
  <td>
    {{#if application.number_msisdn}}
      {{application.number_msisdn}} ({{application.number_country}})
    {{else}}
      <a class="btn btn-sm btn-outline-primary" href="/numbers"><i class="fas fa-plus"></i> Add</a>
    {{/if}}
  </td>
</tr>
<tr>
  <th>NCCO</th>
  <td>
    <p>
      Change for:
      <a class="btn btn-{{#ifneq application.type 'custom'}}outline-{{/ifneq}}primary btn-sm" rel="nofollow" href="/app/ncco/custom">Custom</a>
      <a class="btn btn-{{#ifneq application.type 'inbound_call'}}outline-{{/ifneq}}primary btn-sm" rel="nofollow" href="/app/ncco/inbound_call">Inbound Call</a>
      <a class="btn btn-{{#ifneq application.type 'outbound_call'}}outline-{{/ifneq}}primary btn-sm" rel="nofollow" href="/app/ncco/outbound_call">Outbound Call</a>
      <a class="btn btn-{{#ifneq application.type 'ivr'}}outline-{{/ifneq}}primary btn-sm" rel="nofollow" href="/app/ncco/ivr">IVR</a>
    </p>
    {{#ifeq application.type 'custom'}}
      <h5>Custom NCCO&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-primary btn-sm" rel="nofollow" href="/app/edit">Edit</a></h5>
    {{/ifeq}}
    {{#ifeq application.type 'inbound_call'}}
      <h5>Inbound call</h5>
    {{/ifeq}}
    {{#ifeq application.type 'outbound_call'}}
      <h5>Outbound call</h5>
    {{/ifeq}}
    {{#ifeq application.type 'ivr'}}
      <h5>IVR - Main menu</h5>
    {{/ifeq}}
    {{#if application.ncco }}
      <pre>{{{json application.ncco}}}</pre>
    {{else}}
      <p>Not set</p>
    {{/if}}
    {{#ifeq application.type 'ivr'}}
      <h5>Jane selection</h5>
      <pre>{"something": "something else"}</pre>
      <h5>Joe selection</h5>
      <pre>{"something": "something else"}</pre>
    {{/ifeq}}
  </td>
</tr>
</table>