<div class="row mb-4">
  <div class="col-12 col-lg-6">
    <h1>Numbers</h1>
    {{#if app.number_msisdn }}
      <h4>Number in use: {{app.number_msisdn}} ({{app.number_country}})</h4>
    {{/if}}
  </div>
  <div class="col-12 col-lg-6 text-lg-right">
    <form action="/numbers/search" method="POST">
      Buy number in 
      <select name="country" id="country">
        <option selected="selected" value="GB">GB</option>
        <option value="USA">USA</option>
        <option value="FR">FR</option>
        <option value="GE">GE</option>
      </select>
      <input type="submit" name="commit" value="Search" class="btn btn-sm btn-primary">
    </form>
  </div>
</div>

{{#unless app.number_msisdn }}
  <p class="alert alert-info">No Number in use</p>
{{/unless}}

<hr />

<table class="table table-sm table-borderless table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Available Number</th>
      <th scope="col">Country</th>
      <th scope="col">Features</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    {{#each numbers as |number key|}}
      <tr>
        <td>{{number.msisdn}}</td>
        <td>{{number.country}}</td>
        <td>{{json number.features}}</td>
        <td>
          {{#includes number.features 'VOICE'}}
            {{#unless number.voiceCallbackValue}}
              <a class="btn btn-sm btn-danger" href="/numbers/add/{{number.country}}/{{number.msisdn}}">Link</a>
            {{else}}
              {{#ifeq number.voiceCallbackValue ../../app.app_id}}
                <a class="btn btn-sm btn-warning" rel="nofollow" data-method="post" href="/numbers/remove/{{number.country}}/{{number.msisdn}}">Unlink</a>
              {{else}}
                Number already in use.
              {{/ifeq}}
            {{/unless}}
          {{else}}
            No voice capability.
          {{/includes}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
